* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ffe4e1;
    font-family: 'Georgia', serif;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .header {
    background-color: #ffb6c1;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    color: white;
  }
  
  .intro, .closing {
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
  }

  .fin{
    background-color: #ffb6c1;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    color: white;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
  }
  
  .carousel img {
    width: 100%;
    border-radius: 10px;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .message {
    text-align: left;
    animation: fadeIn 2s ease-in-out;
  }
  
  .signature {
    font-family: 'Brush Script MT', cursive;
    font-size: 2em;
    color: #ff69b4;
    animation: fadeIn 4s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.botones button {
    background-color: #ffb6c1;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botones button img {
    margin-right: 5px; /* Espacio entre el icono y el texto */
    width: 30px; /* Ajusta el tamaño del icono según sea necesario */
    height: 30px; /* Ajusta el tamaño del icono según sea necesario */
}

.botones button:hover {
    background-color: #ff99aa;
    transform: translateY(-2px);
}

.botones button:active {
    background-color: #ff809f;
    transform: translateY(1px);
}


.player-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff0077;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 1000;
}

.music-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 320px;
  display: none;
  flex-direction: column;
  z-index: 999;
}

.player-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #444444;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#minimizeButton {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.player-body {
  padding: 10px;
}

#albumCover {
  width: 100%;
  border-radius: 10px;
}

audio {
  width: 100%;
  margin-top: 10px;
}

.player-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.player-controls button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #444;
}

#love {
  font-size: 2.5e;
  font-weight: bold;
  color: #e91e63;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}


.messageend {
  animation: fadeIn 2s ease-in-out;
}