/* Estilos generales */
body {
    background-color: #ffe4e1;
    margin: 0;
    padding: 0;
    cursor: url('puntero.png'), auto;
  }
  
  /* Estilos para el sobre */
  .envelope {
    width: 800px;
    height: 600px;
    position: relative;
    cursor: pointer;
    margin: 100px auto;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .envelope-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .flap {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 50%;
    background-color: #fff4f6;
    transform-origin: bottom;
    transition: transform 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .content {
    position: absolute;
    top: 10%;
    left: 10;
    width: 95%;
    height: 95%;
    transform-origin: top;
    transition: transform 0.5s;
    transform: scaleY(0);
    overflow: hidden;
  }
  
  .open .flap {
    transform: scaleY(0);
  }
  
  .open .content {
    transform: scaleY(1);
  }
  
  .sheet {
    width: 100%;
    height: auto;
    display: block;
    margin: 30px auto;
  }
  
  .title {
    color: #FF69B4;
    font-size: 24px;
    text-align: center;
  }
  
  .message {
    font-size: 16px;
    text-align: center;
    margin: 0 20px;
  }
  
  .sender,
  .recipient {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .btn_wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 120px;
    height: 36px;
    background-color: #f7adbf;
    border-radius: 80px;
    top: 50%;
    left: 45%;
    padding: 0 18px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    margin-top: 20px;
  }
  
  .btn_wrap:hover {
    transform: scale(1.1);
  }
  
  span {
    position: absolute;
    z-index: 99;
    width: 120px;
    height: 36px;
    border-radius: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 2px;
    color: #EEEEED;
    background-color: #db9494;
    padding: 0 18px;
    transition: all 1.2s ease;
  }
  .btn_wrap:hover span {
    transition-delay: 0.25s;
    transform: translateX(-140px);
  }
  
  
  .containe button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    background-size: cover;
  }
  
  .containe button:hover {
    background-color: rgb(206, 130, 130);
  }
  